body{
font-family:Arial;
margin:0;
background:#f2f2f2;
}


header{
background:#003366;
color:white;
text-align:center;
padding:30px;
}


.btn{
display:inline-block;
background:white;
color:#003366;
padding:10px 20px;
margin:10px;
border-radius:25px;
text-decoration:none;
}


.whatsapp{
background:#25D366;
color:white;
}


section{
background:white;
margin:20px;
padding:20px;
border-radius:15px;
text-align:center;
}


h2{
color:#003366;
}


.cards{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:15px;
}


.cards div{
background:#eeeeee;
padding:20px;
border-radius:10px;
font-size:18px;
}


footer{
background:#003366;
color:white;
text-align:center;
padding:15px;
}
